.projectCard:hover {
  outline: 1px solid rgba(191, 191, 191, 0.892);
  img {
    filter: grayscale(0);
  }
  transition: 500ms ease-out;
}

.projectCard {
  display: flex;
  flex-direction: column;

  min-height: 210px;
  height: 230px;
  width: 310px;
  outline: 1px solid rgba(128, 128, 128, 0.553);
  border-radius: 15px;
  overflow: hidden;

  .content {
    width: 100%;
    flex-grow: 1;
  }

  img {
    height: 100px;
    width: 100%;
    object-fit: cover;
    object-position: top;
    filter: grayscale(0.6);
    margin-bottom: 6px;
  }

  h2,
  p {
    margin: 3px 0;
    word-wrap: break-word;
    max-width: 100%;
    padding: 0 20px;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.7rem;
    opacity: 0.67;
    font-style: italic;
    text-align: justify;
  }

  .links {
    display: flex;
    justify-content: end;
    padding-right: 6px;
    list-style: none;
    justify-self: flex-end;
    margin: 3px 0;

    li {
      margin-left: 3px;

      a {
        color: gray;
      }

      a:hover {
        color: lightgray;
      }
      svg {
        height: 20px;
      }
    }
  }
}
