<div class="chat-container" style="width: 100%; margin-top: 15px;">
  <iframe
    src="https://supreme-meme-v7g7q5ggqggcwv4j-3000.app.github.dev/"
    title="Selene"
    width="100%"
    id="seleneChatIframe"
    style="border: 1px solid hsla(0,0%,100%,.1); border-radius: 12px; overflow: hidden; display: block; height: 86px;"
    allow="clipboard-read; clipboard-write;"
    sandbox="allow-scripts allow-same-origin allow-forms allow-top-navigation"
    loading="eager"
  >
  </iframe>
</div>

<script type="module">
  const resizeIframe = (event) => {
    if (event.data?.type === "seleneHeight") {
      const iframe = document.getElementById("seleneChatIframe");
      let receivedHeight = event.data.height;
      const receivedIsExpanded = event.data.isExpanded;

      if (!receivedHeight) {
        if (receivedIsExpanded) {
          receivedHeight = 400;
        } else {
          receivedHeight = 86;
        }
      }

      if (iframe) {
        iframe.style.height = `${receivedHeight}px`;
      }
    }
  };
  window.addEventListener("message", resizeIframe, false);
</script>
