---
const { Image: propImage, title, quote, showBreadcrumbs } = Astro.props;

const placeHolderImagee = propImage;

import { Breadcrumbs } from "astro-breadcrumbs";
import "./index.scss";
import { Image } from "astro:assets";
---

<div class="sectionHeaderImageWrapper">
  <Image
    src={placeHolderImagee}
    class="sectionHeaderImage"
    alt="section header hero"
  />

  <div class="titleWrapper">
    <h1 class="headerImageTitle">{title}</h1>
    <q>{quote}</q>
    {
      showBreadcrumbs && (
        <Breadcrumbs
          linkTextFormat="capitalized"
          mainBemClass="blog-breadcrumbs"
        />
      )
    }
  </div>
</div>
