---
import placeholder from "@images/placeholder2.webp";

const { Image, title, quote } = Astro.props;

const placeHolderImagee = Image || placeholder;

import "./index.scss";
---

<div class="sectionHeaderImageWrapper">
  <img src={placeHolderImagee.src} class="sectionHeaderImage" />

  <div class="titleWrapper">
    <h1 class="headerImageTitle">{title}</h1>
    <q>{quote}</q>
  </div>
</div>
