---
import placeholder from "@images/placeholder2.webp";

const { Image: propImage, title, quote } = Astro.props;

const placeHolderImagee = propImage || placeholder;

import "./index.scss";
import { Image } from "astro:assets";
---

<div class="sectionHeaderImageWrapper">
  <Image
    src={placeHolderImagee}
    class="sectionHeaderImage"
    alt="section header hero "
  />

  <div class="titleWrapper">
    <h1 class="headerImageTitle">{title}</h1>
    <q>{quote}</q>
  </div>
</div>
