---
import Layout from "@layouts/index.astro";
import SectionHeaderImage from "@components/General/Image/SectionHeaderImage.astro";
import SagittariusComp from "@components/Constellations/SagittariusComp.astro";
import { resourcesPageKeywords } from "@utils/metaKeywords";
import placeholderImage from "@images/resourcesPlaceholder.webp";

import "./sagittarius.scss";
---

<Layout
  title="Sagittarius"
  description={"Amazing facts about the Sagittarius"}
  keywords={resourcesPageKeywords}
>
  <SectionHeaderImage
    title="Sagittarius"
    Image={placeholderImage}
    quote={"Sagittarius A: The Heartbeat of the Galaxy."}
  />

  <div>
    <h2 style="text-align: center;">Sagittarius Constellation</h2>
    <div class="sagittarius-wrapper">
      <SagittariusComp />
    </div>
  </div>
</Layout>
