.featuredPostCard {
  display: flex;
  align-items: center;
  img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 4px;
    outline: 3px solid rgba(143, 143, 143, 0.2);
  }

  .content {
    color: lightgray;
    margin-left: 10px;
    h3 {
      font-size: 0.76rem;
      margin: 0;
      opacity: 0.95;
      margin-bottom: 0.1em;
    }

    p {
      font-size: 0.72rem;
      opacity: 0.9;
      margin: 0;
    }

    &:hover {
      opacity: 0.98;
      color: whitesmoke;
    }
  }
}

.featuredList {
  gap: 2rem;

  ul {
    list-style: none;
    padding-inline-start: 0;
    li {
      margin-bottom: 15px;
    }
  }

  .headings {
    background-color: rgba(128, 128, 128, 0.05);
    border-radius: 12px;
    padding: 10px 8px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    margin-top: 20px;

    h2 {
      text-align: left;
      color: #eaeaea;
      font-size: 0.85rem;
      margin: 0;
    }
    a {
      text-align: right;
      color: rgb(155, 165, 174);
      font-size: 0.68rem;
      margin-top: 0;
      padding: 0;
      font-weight: 600;
      &:hover {
        color: #eaeaea;
      }
    }
  }

  .blogLinks {
    display: flex;
    gap: 1rem;
    justify-self: center;
    justify-content: center;

    flex-wrap: wrap;

    .linkBtn {
      transition: outline 100ms linear;
      padding: 5px 7px;
      font-size: 0.65rem;
      background-color: rgba(86, 86, 86, 0.679);
      color: whitesmoke;
      border-radius: 18px;
      outline: 2px solid rgba(255, 255, 255, 0.18);
      border: 3px solid rgba(0, 0, 0, 0);

      &:hover {
        outline: 2px solid rgba(255, 255, 255, 0.9);
      }
    }
  }
}
