---
// import Tulips from "@assets/images/tulipsongrass.webp";
import Tulips from "@assets/images/tulips_animated_compressed_trimmed.gif";
import MossPole from "@assets/images/moss_pole.webp";
// import Tulips from "@assets/images/tulips_cartoonsh_upscaled.webp";

import { Image } from "astro:assets";
---

<div class="tulipContainer" id="tulipContainer">
  <img class="tulips" height={200} src={Tulips.src} alt={"Tulips"} />
  <Image class="mossPole" height={200} src={MossPole} alt={"MossPole"} />
</div>

<style>
  .tulipContainer {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 356px;
    position: relative;
    height: 180px;
  }

  .tulips {
    position: absolute;
    width: auto;
    mix-blend-mode: lighten;
    z-index: -2;
    bottom: -25px;
    height: 200px;
  }

  .mossPole {
    position: absolute;
    width: auto;
    z-index: -1;
    left: -75px;
    bottom: -25px;
    height: 180px;
  }
</style>
