:root {
  --content-width: 80vw;
  --content-max-width: 700px;

  --accent1: brown;

  --bottom-spacing: 15px;
  --top-spacing: 15px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  background-color: black;
  color: white;

  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  justify-content: center;
  .content {
    max-width: 700px;
    width: 80vw;
  }
}

a {
  color: white;
  text-decoration: none;
}

.bottom-margin {
  margin-bottom: var(--bottom-spacing);
}

h2 {
  font-size: 1rem;
}
