:root {
  --content-width: 80vw;
  --content-max-width: 700px;

  --accent1: brown;

  --bottom-spacing: 15px;
  --top-spacing: 15px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  background-color: black;
  color: white;

  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  justify-content: center;
  .content {
    max-width: 700px;
    width: 80vw;
  }
}

a {
  color: white;
  text-decoration: none;
}

.bottom-margin {
  margin-bottom: var(--bottom-spacing);
}

h2 {
  font-size: 1rem;
}

.astro-route-announcer {
  display: none !important;
}

.blog-breadcrumbs {
  ol {
    padding-inline-start: 0;
    padding: 0 10px;
    list-style: none;
    display: flex;
    gap: 0;

    li {
      &:last-child {
        background-color: rgba(180, 180, 180, 0.476);
        a {
          color: white;
        }
      }

      margin: 0;
      clip-path: polygon(77% 0, 100% 50%, 75% 100%, 0% 100%, 11% 50%, 0% 0%);
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    a {
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
      padding: 8px 20px;
      border-radius: 10px;
      color: rgba(241, 241, 241, 0.76);
      background: rgba(86, 86, 86, 0.492);
      font-size: 0.6rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 100%;
      width: 30px;

      &:hover {
        color: white;
        background: rgba(51, 51, 51, 0.728);
      }
    }
  }
}
