@import url("./fonts.scss");
@import url("./default.scss");

.displayNone {
  display: none !important;
}

.bottom-margin {
  margin-bottom: var(--bottom-spacing);
}

.astro-route-announcer {
  display: none !important;
}

.blog-breadcrumbs {
  ol {
    display: flex;
    flex-wrap: wrap;

    padding-inline-start: 0;
    padding: 0 2px;
    list-style: none;
    gap: 1px;

    li {
      &:last-child {
        background-color: rgba(105, 105, 105, 0.876);
        a {
          color: white;
          background: rgba(51, 51, 51, 0.628);
        }
      }

      background: rgba(86, 86, 86, 0.792);
      margin: 0;
      clip-path: polygon(77% 0, 100% 50%, 75% 100%, 0% 100%, 11% 50%, 0% 0%);
      height: 95%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    a {
      box-shadow: 0px 0px 4px 6px #000;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
      padding: 7px 10px;
      padding-right: 13px;
      text-align: center;
      color: rgba(241, 241, 241, 0.76);
      font-size: 0.56rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 90%;
      min-width: 3.5rem;
      width: 10ch;
      max-width: 15ch;
      border: none;

      &:hover {
        color: white;
        background: rgba(51, 51, 51, 0.628);
      }
    }
  }
}

.pageDesc {
  font-size: 0.76rem;
  text-align: justify;
  color: rgba(245, 245, 245, 0.89);
  font-weight: 500;
}

.moonFact {
  text-align: center;
  margin-top: 2rem;
  font-family: "Inter", sans-serif;
  font-style: italic;
  color: rgba(245, 245, 245, 0.68);

  background-color: rgba(73, 73, 73, 0.3);
  outline: 3px solid rgba(105, 105, 105, 0.2);
  border-radius: 12px;
  padding: 14px;
  padding-left: 7px;

  font-size: 0.72rem;

  backdrop-filter: blur(10px) sepia(90%);

  &::before {
    content: '"';
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.linkBtn {
  transition: outline 100ms linear;
  padding: 5px 7px;
  font-size: 0.65rem;
  background-color: rgba(86, 86, 86, 0.679);
  color: whitesmoke;
  border-radius: 18px;
  outline: 2px solid rgba(255, 255, 255, 0.18);
  border: 3px solid rgba(0, 0, 0, 0);

  &:hover {
    outline: 2px solid rgba(255, 255, 255, 0.9);
  }
}
