.currentlyBuildingWrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;

  .title {
    color: #eaeaea;
    font-size: 0.85rem;
    text-align: left;
    margin-bottom: 0.6rem;
  }

  .previews {
    display: flex;
    justify-content: center;
  }

  .footer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
}
