---
import DiziplayerPreview from "./DiziplayerPreview/index.astro";

import "./_index.scss";
---

<div class="currentlyBuildingWrapper">
  <h2 class="title">Building right now!</h2>
  <div class="previews">
    <DiziplayerPreview />
  </div>

  <div class="footer">
    <a href="projects" class="linkBtn">View More!</a>
  </div>
</div>
