<section id="intro" class="intro">
  <p>
    Hey there! 💫 Welcome to my portfolio!! I'm a Software Developer with a
    passion for web technologies. So far I have gained professional experience
    in building web applications using the MERN stack.
    <br />
    When I'm not coding, you’ll probably catch me enjoying music, jogging, playing
    football, reading non-fiction, exploring new tech, tinkering with my Arduino,
    or hanging out with friends. If all else fails, I might be out cruising on my
    bike!
  </p>
  <p><a href="/about">Discover more!</a></p>
</section>
