<section id="intro" class="intro">
  <p>
    I'm a Software Engineer currently learning web development. I have got some
    experience in building web applications using MERN Stack. You'll find me
    always listening to music, if not then I must be running, playing football,
    reading a random book or watching tech videos..
  </p>
</section>
