<section id="intro" class="intro">
  <p>
    Hey there! 💫 I'm a Software Developer with a passion for web technologies.
    So far my professional experience is built on the MERN stack. When I'm not
    coding, you’ll probably catch me enjoying music, jogging, playing football,
    exploring tech, or hanging out with friends. If all else fails, I might be
    out curiously looking for something to get intrigued.
  </p>
  <p><a href="/about">Discover more!</a></p>
</section>
