<section id="intro" class="intro">
  <p>
    Hey there! 💫 I'm a Software Developer. Most of my professional experience
    is built on the web. When not coding, you'll probably catch me enjoying
    music, running, playing football, exploring tech, or hanging out with
    friends. If all else fails, I might be out curiously placing question marks
    to things that aren't even questions.
  </p>
  <p><a href="/about">Discover more!</a></p>
</section>
