<section id="intro" class="intro">
  <p>
    Hey there, Welcome to my portfolio! I'm a Software Developer currently
    exploring web technologies. So far, I have accumulated some professional
    experience in building web applications using MERN Stack. In real world, You
    may find me listening to music, jogging, playing football, reading
    non-fiction, exploring tech, tinkering with my Arduino if not then maybe
    hanging out with my friends...
  </p>
  <p><a href="/about">Click here to learn more about me!</a></p>
</section>
