<section id="education" class="education">
  <h2>Education</h2>
  <ul>
    <li>
      <h4>Sigma Institute of Engineering</h4>
      <p>Information Technology - Bachelor Of Engineering (B.E)</p>
    </li>
    <li>
      <h4>Shreyas Vidhyalay</h4>
      <p>Higher Secondary</p>
    </li>
    <li>
      <h4>Baroda High School</h4>
      <p>Secondary Education</p>
    </li>
  </ul>
</section>
