---
import WebDev from "@images/web-dev3.webp";
import SubSectionImage from "./SubSectionImage.astro";
---

<section id="experience" class="experience">
  <h2>Professional Experience</h2>

  <div class="experienceInfoWrapper">
    <SubSectionImage
      className="companyLogo aboutPageSectionImage"
      src={WebDev}
      alt="companyHero"
      loading="eager"
    />
    <div class="experienceDetailsWrapper">
      <div class="companyInfo">
        <h3 id="WebmyneSystems">
          <a href="https://www.webmyne.com/" target="_blank">Webmyne Systems</a>
        </h3>
        <span>Sr.Software Developer : July 2021 - Present</span>
      </div>
      <p class="companyDescription">
        At Webmyne, I worked on various projects, primarily using React.js.
        Later, I joined Panamax Inc. as a consultant from Webmyne, contributing
        to the Mobifin project in the R&D department. I utilized technologies
        like React.js, Node.js, Next.js, Module Federation and MongoDB to
        maintain existing and develop new features for the fintech product.
      </p>
      <section>
        <ul>
          <li class="projectInfo">
            <h4 id="DocumentManagementSystem">
              Document Management System(DMS)
            </h4>
            <p>
              Developed a client application (web) and an admin panel featuring
              multiple roles and permissions to facilitate document sharing
              between clients-firm employees or within the organization. The
              system included functionalities for work tracking/status updates,
              employee management, client management, and billing hours.
            </p>
          </li>
          <li class="projectInfo">
            <h4 id="RepositoryManagementSystem">
              Repository Management System(RMS)
            </h4>
            <p>Application for file sharing within an organization</p>
          </li>
          <li>
            <section id="Panamax" class="subExperienceWrapper">
              <div class="companyInfo">
                <h3 id="Panamax">
                  <a href="https://www.panamaxil.com/" target="_blank"
                    >Panamax. Inc.</a
                  >
                </h3>
                <span>Consultant; March 2022-September 2025</span>
              </div>
              <div class="projectInfo">
                <h4 id="MobifinElite">
                  <a href="https://www.mobifin.com/" target="_blank"
                    >Mobifin Elite</a
                  >
                </h4>
                <p>
                  Worked on the web application, including both the CMS backend
                  and frontend, as well as the Backend for Frontend (BFF).
                  Maintained existing features and Integrated new features such
                  as Split Payment, Loyalty and Rewards, Standing Instructions,
                  Partial merchant refunds and Multipayment.
                </p>
                <p>
                  - Worked on and initialized
                  <a
                    href="https://www.mobifin.com/tapestry/"
                    target="_blank"
                    rel="noopener noreferrer">Mobin Tapestry</a
                  >
                  from scratch.
                </p>
              </div>
            </section>
          </li>
        </ul>
      </section>
    </div>
  </div>
</section>
