<section id="experience" class="experience">
  <h2>Professional Experience</h2>

  <div class="experienceInfoWrapper">
    <img class="companyLogo" src="https://placehold.co/200x200" />
    <div class="experienceDetailsWrapper">
      <div class="companyInfo">
        <p>Webmyne Systems</p>
        <span>July 2021 - Present</span>
      </div>
      <p class="companyDescription">
        At webmyne worked on various projects Majorly on React.js. And then
        later joined Panamax. Inc. as a consultant from Webmyne and worked on
        Mobifin (Fintech vertical, R&D)
      </p>
      <section>
        <ul>
          <li class="projectInfo">
            <h4>Document Management System(DMS)</h4>
            <p>
              Client Application(WEB) and Adming Panel(with RBAC) to share
              documents between client and firm with work tracking, employee
              management, client management and billing hours.
            </p>
          </li>
          <li class="projectInfo">
            <h4>Repository Management System(RMS)</h4>
            <p>Application to share files between an organization</p>
          </li>
          <li>
            <section id="Panamax" class="subExperienceWrapper">
              <div class="companyInfo">
                <h4>Panamax. Inc.</h4>
                <span>Consultant; March 2022-Present</span>
              </div>
              <div class="projectInfo">
                <h5>Mobifin</h5>
                <p>
                  Working On the web application, CMS Backend & Frontend, BFF.
                  Integrated Features Link - Split Payment, Loyalty and Rewards,
                  Standing Instructions, GDPR Compliance, Multipayment
                </p>
              </div>
            </section>
          </li>
        </ul>
      </section>
    </div>
  </div>
</section>
