---
import WebDev from "@images/web-dev.webp";
---

<section id="experience" class="experience">
  <h2>Professional Experience</h2>

  <div class="experienceInfoWrapper">
    <img class="companyLogo" src={WebDev.src} />
    <div class="experienceDetailsWrapper">
      <div class="companyInfo">
        <p>
          <a href="https://www.webmyne.com/" target="_blank">Webmyne Systems</a>
        </p>
        <span>Sr.Software Developer : July 2021 - Present</span>
      </div>
      <p class="companyDescription">
        At Webmyne, I worked on various projects, primarily using React.js.
        Later, I joined Panamax Inc. as a consultant from Webmyne, contributing
        to the Mobifin project in the R&D department. I utilized technologies
        like React.js, Node.js, and MongoDB to develop and maintain new features
        for this fintech product.
      </p>
      <section>
        <ul>
          <li class="projectInfo">
            <h4>Document Management System(DMS)</h4>
            <p>
              Developed a client application (web) and an admin panel featuring
              multiple roles and permissions to facilitate document sharing
              between clients-firm employees or within the organization. The
              system included functionalities for work tracking/status updates,
              employee management, client management, and billing hours.
            </p>
          </li>
          <li class="projectInfo">
            <h4>Repository Management System(RMS)</h4>
            <p>Application for file sharing within an organization</p>
          </li>
          <li>
            <section id="Panamax" class="subExperienceWrapper">
              <div class="companyInfo">
                <h4><a href="https://www.panamaxil.com/">Panamax. Inc.</a></h4>
                <span>Consultant; March 2022-Present</span>
              </div>
              <div class="projectInfo">
                <h5><a href="https://www.mobifin.com/">Mobifin</a></h5>
                <p>
                  Worked on the web application, including both the CMS backend
                  and frontend, as well as the Backend for Frontend (BFF).
                  Integrated features such as Split Payment, Loyalty and
                  Rewards, Standing Instructions, Partial merchant refunds, GDPR
                  compliance, and Multipayment.
                </p>
              </div>
            </section>
          </li>
        </ul>
      </section>
    </div>
  </div>
</section>
