$mobileBreakpoint: 486px;

.about {
  margin-top: 3.2em;
}

.aboutPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 2em;

  font-family: "Manrope", "Raleway", "Inter", "Roboto", Arial, sans-serif;

  a::after {
    content: " 🔗";
    font-size: 0.5rem;
    opacity: 0.75;
    &:hover {
      opacity: 1;
    }
  }

  h2 {
    text-align: left;
    font-size: 1.06rem;
    margin: 10px 0;
  }

  .pillSection {
    align-self: flex-start;
  }
}

section.heading {
  align-self: center;
  margin-bottom: 20px;
  display: grid;
  place-items: center;

  .profilePicContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .flutebg {
      mix-blend-mode: lighten;
      opacity: 0.3;
      z-index: -1;
      position: absolute;
    }

    .profileImage {
      height: 150px;
      width: 150px;
      --percent: 100;
      --glow-size: calc(var(--percent) * 0.55px);
      --glow-opacity: calc(var(--percent) / 40);

      box-shadow:
        0 0 var(--glow-size) rgba(65, 65, 65, var(--glow-opacity)),
        0 0 calc(var(--glow-size) * 2) rgba(25, 25, 25, var(--glow-opacity));
      transition: box-shadow 3.5s ease-in-out;
      box-shadow:
        0 0 var(--glow-size) rgba(119, 119, 119, var(--glow-opacity)),
        0 0 calc(var(--glow-size) * 0.5)
          rgba(102, 102, 102, var(--glow-opacity)),
        0 0 calc(var(--glow-size) * 1.35) rgba(85, 85, 85, var(--glow-opacity));

      &:hover {
        animation: glowAnimationProfilePic 3.5s ease-in-out infinite;
      }
      object-fit: cover;
      opacity: 1;
      border-radius: 100%;
      &.Full {
        box-shadow: 0px 0px 20px 14px #7171715e;
      }
    }
  }

  div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h1 {
      margin: 0;
      margin-top: 18px;
      margin-bottom: 3px;
      font-size: 1.5rem;
    }

    h2 {
      margin: 0;
      margin-bottom: 1.4rem;
      font-size: 0.8rem;
      color: rgba(255, 255, 255, 0.699);
      font-weight: 300;
    }

    a {
      background-color: rgba(97, 97, 97, 0.733);
      color: rgba(255, 255, 255, 0.836);
      padding: 8px 15px;
      font-size: 0.8rem;
      border-radius: 12px;
      cursor: pointer;
      font-weight: bold;
      margin-top: var(--top-spacing);
    }
  }
}

section.intro {
  font-size: small;
  color: rgba(255, 255, 255, 0.74);
  text-align: justify;
  p {
    margin: 5px 0;
  }
  a {
    font-size: 0.7rem;
    opacity: 0.9;
    font-style: italic;
    text-decoration: underline;
    &:hover {
      color: white;
      opacity: 1;
    }
  }
}

section.experience {
  width: 100%;
  margin: 20px 0;

  .experienceInfoWrapper {
    display: grid;
    grid-template-columns: 1fr 8fr;
    font-size: 0.8rem;
    @media screen and (max-width: $mobileBreakpoint) {
      grid-template-columns: 1fr;
    }
    .experienceDetailsWrapper {
      .companyInfo {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        font-size: 1rem;
        @media screen and (max-width: $mobileBreakpoint) {
          margin: 5px 0;
          text-align: center;
        }
        h3 {
          padding: 0;
          margin: 0;
          margin-bottom: 5px;
          font-size: 0.9rem;
          @media screen and (max-width: $mobileBreakpoint) {
            margin-top: 0.5em;
            text-align: center;
          }
        }
        span {
          font-size: 0.75rem;
          color: lightgray;
        }
      }
      .companyDescription {
        font-weight: lighter;
        font-size: 0.85rem;
        margin: 2px 0;
        text-align: justify;
      }
      .projectInfo {
        h4 {
          font-size: 0.8rem;
          margin: 5px 0;
          color: #e6e6e6;
        }
        p {
          margin: 0;
          font-size: 0.8rem;
          color: lightgray;
          text-align: justify;
        }
      }

      .subExperienceWrapper {
        .companyInfo {
          text-align: left;
          h3 {
            text-align: left;
            font-size: 0.95rem;
            margin: 2px 0;
            margin-top: 6px;
          }
        }
        .projectInfo {
          padding-left: 10px;
          h4 {
            font-size: 0.8rem;
            margin: 3px 0;
          }
        }
      }
    }
  }
}

section.education,
section.otherActivities {
  width: 100%;

  .contentWrapper {
    display: flex;
    width: 100%;
    @media screen and (max-width: $mobileBreakpoint) {
      flex-direction: column;
      img {
        margin-bottom: 10px;
      }
    }

    ul {
      list-style: none;
      padding-inline-start: 5px;
      margin-top: 0;
      li {
        margin-bottom: 10px;
        h4 {
          margin: 0;
          font-size: 0.85rem;
        }
        p {
          margin: 0;
          margin-top: 2px;
          padding-left: 2px;
          font-size: 0.8rem;
          color: lightgray;
          text-align: justify;

          b {
            a {
              opacity: 0.9;
              color: rgba(211, 211, 211, 0.757);
              &:hover {
                opacity: 1;
                color: rgba(135, 146, 164, 0.755);
              }
            }
          }
        }
      }
    }
  }
}

.aboutPageSectionImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  filter: brightness(0.9);
  opacity: 0.8;
  margin-right: 0;
  &:hover {
    opacity: 1;
  }

  @media screen and (max-width: $mobileBreakpoint) {
    width: 100%;
    height: 140px;
    margin-right: 10px;
  }
}

@keyframes glowAnimationProfilePic {
  0% {
    box-shadow:
      0 0 calc(var(--glow-size) * 0.5) rgba(100, 100, 100, 0.9),
      0 0 var(--glow-size) rgba(120, 120, 120, 0.5);
  }
  50% {
    box-shadow:
      0 0 var(--glow-size) rgba(120, 120, 120, 0.6),
      0 0 calc(var(--glow-size) * 2) rgba(180, 180, 180, 0.9);
  }
  100% {
    box-shadow:
      0 0 calc(var(--glow-size) * 0.5) rgba(100, 100, 100, 0.9),
      0 0 var(--glow-size) rgba(120, 120, 120, 0.5);
  }
}
