---
import Info from "./AboutDescription.astro";
import SkillsAndHobbies from "./SkillsAndHobbies.astro";
import Heading from "./MyHeading.astro";

import Experience from "./Experience.astro";
import "./index.scss";
import Education from "./Education.astro";
import OtherActivities from "./OtherActivities.astro";
---

<section id="about" class="about">
  <Heading />
  <Info />
  <SkillsAndHobbies />
  <Experience />
  <!-- <Education />
  <OtherActivities /> -->
</section>
