---
import Command from "@components/General/CodeBlock/Command/index.astro";
import { links } from "@utils/constants";
import { Image } from "astro:assets";
import { Linkedin } from "lucide-astro";
---

<section id="about" class="heading">
  <Image
    class="profileImage"
    src={links.profilePic}
    alt="Sahil Rana"
    height={150}
    width={150}
  />
  <div>
    <h1>
      <strong>Sahil Singh Rana</strong>
    </h1>
    <h2>Software Developer</h2>
    <Command text="npx namaste-sahil" />
    <a href={links.linkedin}>
      <Linkedin height={10} width={10} color="white" /> Connect
    </a>
  </div>
</section>
