<section id="otherActivities" class="otherActivities">
  <h2>Other Activities</h2>
  <ul>
    <li>Baroda Football Academy</li>
    <li>Represented My College at All India University</li>
    <li>Won gold in U-14 High Jump at district level</li>
    <li></li>
  </ul>
</section>
