<section id="otherActivities" class="otherActivities">
  <h2>Other Activities</h2>
  <ul>
    <li>
      <h4>Baroda Football Academy</h4>
      <p>
        Played for and volunteered as a Football Coach, Social Media Head,
        Graphic Designer and Website Designer at Baroda Football Academy
      </p>
    </li>
    <li>
      <h4>Football</h4>
      <p>
        I had the opportunity to captain both my college and school football
        teams, an experience I deeply cherished. Additionally, I had the
        privilege of representing Gujarat Technological University (GTU) at the
        All India University Football Tournament on multiple occasions.
      </p>
    </li>
    <li>
      <h4>Co-Curricular</h4>
      <p>
        During my school days, I had the chance to take part in a variety of
        athletic events like the 100m, 400m, high jump, and long jump. Alongside
        sports, I also enjoyed engaging in activities such as debates, quiz
        competitions, and Olympiads.
      </p>
    </li>
  </ul>
</section>
