<section id="otherActivities" class="otherActivities">
  <h2>Other Activities</h2>
  <ul>
    <li>
      <h4>Baroda Football Academy</h4>
      <p>
        Played for and Worked as a Football Coach, Social Media Head, Graphic
        Designer and Website Designer at Baroda Football Academy
      </p>
    </li>
    <li>
      <h4>Football</h4>
      <p>
        Captained my college and school teams. Reresented Gujarat Technological
        University (GTU) at All India University Football Tournament.
      </p>
    </li>
    <li>
      <h4>Athletics</h4>
      <p>
        Have Represented My School in various Athletic Events like 100m, 400m,
        High Jump, Long Jump. Also got a chance to represent Vadodara in High
        Jump U-14
      </p>
    </li>
  </ul>
</section>
