<section id="otherActivities" class="otherActivities">
  <h2>Other Activities</h2>
  <ul>
    <li>
      <h4>Baroda Football Academy</h4>
      <p>Worked as a Football Coach at Baroda Football Academy</p>
    </li>
    <li>
      <h4>Football</h4>
      <p>
        Reresented Gujarat Technological University (GTU) at All India
        University Football Tournament. Also Captained my college and school
        teams.
      </p>
    </li>
    <li>
      <h4>Athletics</h4>
      <p>
        Have Represented Baroda High School in various Athletic Events like
        100m, 400m, High Jump, Long Jump. Also got a chance to represent
        Vadodara in High Jump U-14
      </p>
    </li>
  </ul>
</section>
