<section id="otherActivities" class="otherActivities">
  <h2>Other Activities</h2>
  <ul>
    <li>
      <h4>Baroda Football Academy</h4>
      <p>
        Played for and volunteered as a Football Coach, Social Media Head, Graphic
        Designer and Website Designer at Baroda Football Academy
      </p>
    </li>
    <li>
      <h4>Football</h4>
      <p>
        Captained my college and school teams in Football. Also Reresented Gujarat Technological
        University (GTU) at All India University Football Tournament multiple times.
      </p>
    </li>
    <li>
      <h4>Co-Curricular</h4>
      <p>
        Represented My School in various Athletic Events like 100m, 400m,
        High Jump, Long Jump, Debates, Quiz Competetions, Olympiads. Also got a chance to represent Vadodara in High
        Jump.
      </p>
    </li>
  </ul>
</section>
