---
import NowPlaying from "./NowPlaying.astro";
import TopArtists from "./TopArtists.astro";
import TopTracks from "./TopTracks.astro";
import "./index.scss";
---

<section class="spotifyData">
  <NowPlaying />
  <div class="topTrackAndArtistContainer">
    <TopArtists />
    <TopTracks />
  </div>
</section>

<script src="./spotifyTracksAndArtistsfiller.js"></script>
