---
import { Image } from "astro:assets";
---

<div class="nowPlaying">
  <div class="trackVinyl" id="nowPlayingTrackVinyl"></div>

  <a class="spotifyLogoContainer" target="_blank">
    <Image
      src="https://storage.googleapis.com/pr-newsroom-wp/1/2023/05/Spotify_Full_Logo_RGB_White.png"
      alt="spotify logo"
      height="17"
      width="62"
      class="spotifyLogo"
    />
  </a>

  <div class="notPlaying" id="notPlayingWrap">
    <h3>Ears at rest....</h3>
  </div>

  <div id="nowPlayingInfo" class="nowPlayingInfo displayNone">
    <h3 class="heading">Now Playing</h3>
    <div>
      <h4><a id="nowPlayingTitle" href=""></a></h4>
      <h5 id="nowPlayingArtists"></h5>
    </div>
  </div>
</div>

<script src="./nowPlaying.js"></script>
