<div class="playerStatus">
  <div class="recordContainer">
    <div class="record"></div>
  </div>

  <div class="info">
    <h3>Now Playing</h3>
    <div>
      <h4><a id="nowPlayingTitle" href="">Kun Faya Kun</a></h4>
      <h5>
        <a id="nowPlayingArtists" href="">A.R Rahman</a>, <a href=""
          >Mohit Chauhan</a
        >
      </h5>
    </div>
  </div>
</div>
