<div class="nowPlaying">
  <div class="trackVinyl"></div>

  <a class="spotifyLogoContainer" target="_blank">
    <img
      src="https://storage.googleapis.com/pr-newsroom-wp/1/2023/05/Spotify_Full_Logo_RGB_White.png"
      alt="spotify logo"
      height="17"
      class="spotifyLogo"
    />
  </a>

  <div class="notPlaying">
    <h3>Ears at rest....</h3>
  </div>

  <div class="nowPlayingInfo displayNone">
    <h3 class="heading">Now Playing</h3>
    <div>
      <h4><a id="nowPlayingTitle" href="">Kun Faya Kun</a></h4>
      <h5 id="nowPlayingArtists">
        <a href="">A.R Rahman</a>, <a href="">Mohit Chauhan</a>
      </h5>
    </div>
  </div>
</div>
