$mobileBreakpoint: 486px;
.spotifyData {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nowPlaying {
  min-width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid rgba(245, 245, 245, 0.427);
  border-radius: 12px;
  margin-top: 40px;
  padding: 0.5rem 2rem;
  padding-left: 1rem;
  position: relative;
  background: rgba(43, 43, 43, 0.425);

  .spotifyLogoContainer,
  a {
    color: whitesmoke;
    opacity: 1;
    border: none;

    &:hover {
      color: orange;
      text-decoration: none;
      border: none;
    }
  }
  .spotifyLogoContainer {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    opacity: 0.8;
  }

  .notPlaying {
    flex-grow: 1;
    font-size: 0.6rem;
    opacity: 0.7;
    margin-left: 10px;
    padding: 0 1rem;
  }

  .nowPlayingInfo {
    flex-grow: 1;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    h3,
    h4,
    h5 {
      margin: 0;
      padding: 0;
      font-weight: normal;
    }

    h3 {
      font-size: 0.7rem;
      opacity: 0.6;
      font-weight: bolder;
      margin-bottom: 4px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    h4 {
      font-size: 0.8rem;
      margin-bottom: 2px;
      font-weight: bold;
    }

    h5 {
      font-size: 0.58rem;
      opacity: 0.8;
    }
  }

  .trackVinyl {
    position: relative;
    margin: 10px auto;
    min-width: 80px;
    min-height: 80px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background:
      linear-gradient(30deg, transparent 40%, rgba(42, 41, 40, 0.85) 40%)
        no-repeat 100% 0,
      linear-gradient(60deg, rgba(42, 41, 40, 0.85) 60%, transparent 60%)
        no-repeat 0 100%,
      repeating-radial-gradient(#2a2928, #2a2928 4px, #ada9a0 5px, #2a2928 6px);
    background-size:
      50% 100%,
      100% 50%,
      100% 100%;
    box-shadow: 0px 1px 7px 0px #ffffff8f;
    background-size: cover;
  }
  .trackVinyl:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: black;
    content: "";
  }
}

.spinVinyl {
  animation-name: spinVinyl;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spinVinyl {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.topTrackAndArtistContainer {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: $mobileBreakpoint) {
  .topTrackAndArtistContainer {
    flex-direction: column;

    .topArtistsContainer,
    .topTracksContainer {
      width: 100%;
    }
  }
}
.topArtistsContainer,
.topTracksContainer {
  outline: 1px solid rgba(255, 255, 255, 0.37);
  border-radius: 12px;
  margin-top: 1.4rem;
  width: 48%;

  h3 {
    margin: 0;
    font-size: 0.8rem;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.334);
    padding: 8px;
    backdrop-filter: blur(1.5px);
  }
  .smallInfo {
    font-size: 0.52rem;
    opacity: 0.85;
    padding: 0 0.25rem;
    margin-top: 0.5px;
  }
  img {
    height: 55px;
    width: 55px;
    background: black;
    border-radius: 12px;

    &.hasPreview {
      cursor: pointer;
      position: relative;
      &:hover {
        outline: 1px solid rgba(255, 99, 71, 0.519);
      }
      &.playing {
        // TODO
      }
    }
  }

  .cardContainer {
    padding: 0 0.5rem;
    margin: 0;
    height: 180px;
    min-width: 150px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-snap-points-y: repeat(60px);
    list-style: none;
    overflow-x: hidden;
  }

  .card {
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    height: 60px;

    h4 {
      margin: 0;
      font-weight: normal;
      color: white;
    }

    div {
      margin-left: 7px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      a {
        margin-left: 0;
      }
    }

    span {
      font-size: 0.56rem;
      opacity: 0.7;
    }

    a {
      margin-left: 7px;
      font-size: 0.72rem;
      color: rgba(245, 245, 245, 0.926);
    }
  }
}
