---
import PlayerStatus from "./PlayerStatus.astro";
import "./spotify.scss";
---

<script>
  fetch("https://mytopsongs.sahilsinghrana.workers.dev/")
    .then((res) => res.json())
    .then((res) => {
      console.log(res);
    })
    .catch((err) => {
      console.log(err);
    });
</script>

<div class="spotifyData">
  <PlayerStatus />
</div>
