---
import NowPlaying from "./NowPlaying.astro";
import TopArtists from "./TopArtists.astro";
import TopTracks from "./TopTracks.astro";
import "./spotify.scss";
---

<div class="spotifyData">
  <NowPlaying />
  <div class="topTrackAndArtistContainer">
    <TopArtists />
    <TopTracks />
  </div>
</div>

<script src="./spotifyTracksAndArtistsfiller.js"></script>
