<script></script>

<div class="topArtistsContainer">
  <h3>Top Artists</h3>
  <div class="ArtistCardContainer">
    <ul>
      <li>
        <img src="" height="20" width="20" alt="" />
        <h4>Scorpions</h4>
      </li>
    </ul>
  </div>
</div>
