.pillSection {
  h2 {
    font-size: 1rem;
  }

  ul {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    list-style: none;
    flex-wrap: wrap;
    width: 100%;

    li {
      list-style: none;
      background-color: rgba(124, 124, 124, 0.726);
      padding: 7px 15px;
      border-radius: 25px;
      font-size: 0.7rem;
      margin: 0;

      a {
        color: lightgray;
        text-decoration: none;
        cursor: pointer;
      }

      &:hover {
        background-color: rgb(53, 53, 53);
      }
    }
  }
}
