---
const { text, link } = Astro.props;

import "./index.scss";
---

<>
  {
    link ? (
      <a class="pill" target={link ? "_blank" : "_self"} href={link || "#"}>
        {text}
      </a>
    ) : (
      <span class="pill">{text}</span>
    )
  }
</>
