---
import Layout from "../layouts/index.astro";
---

<Layout
  title="404 Not Found"
  description="I believe you are lost. Lets get back to main site."
  keywords={[
    "Sahil Rana",
    "Software developer",
    "Coding journey",
    "Learning",
    "Growth",
    "Aspirations",
    "Experience",
    "Insights",
    "Passion",
    "Development career",
  ]}
>
  <div style="text-align: center; min-height:30vh;margin:15% auto;">
    <h1 style="font-size: 3.5rem;">404</h1>
    <h2 style="font-weight: lighter;">
      The resource you are looking for is not available or maybe you are lost
    </h2>
  </div>
</Layout>
