---
import Layout from "../layouts/index.astro";
import Experience from "@components/About/Experience.astro";
import Education from "@components/About/Education.astro";
import OtherActivities from "@components/About/OtherActivities.astro";
import SectionHeaderImage from "@components/General/Image/SectionHeaderImage.astro";
import placeholderImage from "@images/placeholder4.webp";

import "@components/About/index.scss";
---

<Layout title="About">
  <SectionHeaderImage title="About" Image={placeholderImage} quote="The Moon makes the Earth move as well as the tides" />
  <div class="aboutPage">
    <Experience />
    <Education />
    <OtherActivities />
  </div>
</Layout>
