---
import SectionHeaderImage from "@components/General/Image/SectionHeaderImage.astro";
import Layout from "../layouts/index.astro";
import placeholderImage from "@images/placeholder.webp";
---

<Layout>
  <SectionHeaderImage title="Blog" Image={placeholderImage} />

  <p>Work In Progress...</p>
</Layout>
