---
import { Schema } from "astro-seo-schema";

import Layout from "@layouts/index.astro";

import About from "@components/About/index.astro";
import Spotify from "@components/Spotify/index.astro";
import CurrentMoonInfo from "@components/MoonInfo/CurrentMoonInfo.astro";
import CurrentlyBuilding from "@components/CurrentlyBuilding/index.astro";
import FeaturedBlogs from "@components/General/Blog/FeaturedList/index.astro";

import moonFacts from "@utils/moonFacts";
import { homePageKeywords } from "@utils/metaKeywords";
import FeaturedTools from "@components/Tools/FeaturedTools.astro";

import "@assets/styles/homePage.scss";
import { Image } from "astro:assets";

import fluteImage from "../components/About/flutenobg (2).png";
---

<head>
  <Schema
    item={{
      "@context": "https://schema.org",
      "@type": "WebSite",
      name: "Sahil Rana",
      alternateName: [
        "Sahil Singh Rana",
        "Sahil Portfolio",
        "Sahil Rana Portfolio",
        "SSR",
        "Sahil",
        "Rana",
      ],
      url: "https://sahilrana.in",
      image: "https://avatars.githubusercontent.com/u/48375250?v=4",
      description:
        "Official website of Sahil Rana, a MERN stack and JavaScript developer specializing in modern, scalable, and performance-driven web applications.",
      publisher: {
        "@type": "Person",
        name: "Sahil Rana",
        url: "https://sahilrana.in",
        image: "https://avatars.githubusercontent.com/u/48375250?v=4",
        sameAs: [
          "https://sahilsinghrana.github.io",
          "https://www.linkedin.com/in/sahilsinghrana",
          "https://x.com/sahilrana010",
          "https://github.com/sahilsinghrana",
          "https://instagram.com/sahilrana0_0",
        ],
      },
    }}
  />
</head>

<Layout
  title="Sahil Rana | Software Developer"
  description="Welcome to my portfolio! I am a software engineer specializing in web development, with expertise in cutting-edge technologies like React.js, Node.js, and MongoDB. Explore my projects and skills to see how I can help bring your ideas to life!"
  keywords={homePageKeywords}
  className="homePage"
>
  <About />
  <CurrentMoonInfo />
  <div class="saggittariusLink" style="position: relative;">
    <p>Interested in Sagittarius ?</p>
    <a href="/resources/constellations/sagittarius">Click Me!!</a>
    <Image
      src={fluteImage}
      alt={"FLutee"}
      class="flutebgcommand"
      height={150}
      width={150}
      style={"position: absolute;transform: rotate(45deg);z-index: -1;top: -45px; opacity: 0.6; mix-blend-mode: lighten;"}
    />
  </div>

  <CurrentlyBuilding />
  <FeaturedTools />
  <FeaturedBlogs />
  <Spotify />
  <div class="moonFact">
    {moonFacts.darkSide.fact}
  </div>
</Layout>

<style>
  .saggittariusLink {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    font-family: "Raleway", sans-serif;

    border: 2px solid rgba(1, 84, 125, 0.4);
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0.7;

    border-radius: 10px;
  }

  .saggittariusLink:hover {
    opacity: 1;
    border: 2px solid rgba(1, 84, 125, 0.8);
    transition: all 0.3s ease-in-out;
  }

  .saggittariusLink a {
    border-radius: 10px;
    text-decoration: none;
    color: rgba(88, 164, 202, 0.9);
    font-weight: bolder;
    padding: 7px;
    border: 1px solid rgba(1, 84, 125, 0.6);
    margin-top: 5px;
    font-size: 0.75rem;
  }

  .saggittariusLink p {
    margin: 0;
    font-weight: bold;
    color: whitesmoke;
  }
</style>
