---
import Layout from "@layouts/index.astro";

import About from "@components/About/index.astro";
import FeaturedBlogs from "@components/General/Blog/FeaturedList/index.astro";
import Spotify from "@components/Spotify/index.astro";
import CurrentMoonInfo from "@components/MoonInfo/CurrentMoonInfo.astro";
import { homePageKeywords } from "@utils/metaKeywords";
---

<head>
  <script is:inline type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "Sahil Rana",
      "alternateName": [
        "Sahil Portfolio",
        "Sahil Rana Portfolio",
        "SSR",
        "Sahil Singh Rana",
        "Sahil",
        "Rana",
        "Sahil Rana"
      ],
      "url": "https://sahilsinghrana.github.io",
      "image": "https://avatars.githubusercontent.com/u/48375250?v=4"
    }
  </script>
</head>

<Layout
  title="Sahil Singh Rana | Software Developer | Sahil Rana"
  description="Hey! Welcome to my portfolio, I am a software engineer currently exploring Web development using amazing technologies like React JS, Node js, Mongo DB"
  keywords={homePageKeywords}
>
  <About />
  <CurrentMoonInfo />
  <FeaturedBlogs />
  <Spotify />
  <div class="moonFact">
    The "dark side" of the Moon receives sunlight, it's just the side we can't
    see from Earth.
  </div>
</Layout>
