---
import FeaturedCard from "../General/FeaturedCard/index.astro";
import curlRequestGeneratorPlaceholder from "@images/tools/curlRequestGeneratorPlaceholder.webp";
---

<section class="featuredList tools">
  <div class="headings">
    <h2>Handy Tools!</h2>
    <!-- <a href="/blog">See More!</a> -->
  </div>
  <ul>
    <li>
      <FeaturedCard
        title={"cURL request maker"}
        description={"Form to generate cURL requests."}
        image={curlRequestGeneratorPlaceholder}
        slug={"/tools/curlRequestGenerator"}
      />
    </li>
  </ul>
</section>
