$codeGreen: rgba(0, 189, 0, 0.8);
$borderRadius: 10px;
.currentMoonInfo {
  font-size: 0.75rem;

  position: relative;
  outline: 1px solid rgba(255, 255, 255, 0.4);
  margin: 1.2rem 0;
  margin-bottom: 0;
  border-radius: 12px;
  min-width: 300px;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.02)
  );
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);

  overflow: hidden;
  transition: all 0.3s ease;

  & > * {
    font-family: monospace, "Inter";
  }

  &:hover {
    border-color: rgba(255, 165, 0, 0.3);
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.3);
  }

  #moonInfo_moonEvent {
    border: 1px solid $codeGreen;
    border-radius: 4px;
    background: rgba(38, 50, 38, 0.4);
    color: $codeGreen;
    padding: 8px;
    margin-left: 10px;
    margin-right: 10px;
    margin: 10px;
    font-size: 0.75rem;
  }

  summary {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 0.85rem;
    font-weight: bold;
    padding: 10px 15px;
    margin: 0;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.02);

    &::marker {
      margin-right: 10px;
      color: rgba(255, 255, 255, 0.7);
    }
  }
  .moonInfo {
    justify-content: start;
    align-items: start;
    background: transparent;
    margin: 10px 15px;
    list-style: none;
    padding-inline-start: 0;

    dd {
      margin-inline-start: 10px;
      opacity: 0.95;
      color: $codeGreen;
      display: flex;
      align-items: center;
      height: 18px;

      &::before {
        content: "> ";
        font-weight: bold;
        margin-right: 5px;
      }

      .moonIconImage {
        margin-left: 5px;
      }

      b {
        opacity: 0.95;
        font-weight: 800;
        color: rgba(0, 189, 0, 0.9);
        margin-left: 5px;
        .noMl {
          margin-left: 0;
        }
      }
    }
  }
}

.moonPhaseContainer {
  position: absolute;
  overflow: clip;

  bottom: 4.2px;
  right: 4.2px;
  z-index: 10;
  border: 2px solid rgba(158, 158, 158, 0.3);
  padding: 3.3px;
  border-radius: $borderRadius;

  opacity: 0.5;

  #moonPhaseCanvas {
    background: black;
    display: block;
    border-radius: 50%;
  }

  #moonPhaseImage {
    display: none;
  }
}
