---
import "./currentMoonInfo.scss";
// https://www.meteomatics.com/en/api/available-parameters/moon/
---

<details open class="currentMoonInfo">
  <summary>Moon</summary>
  <div class="moonInfo">
    <ul>
      <li>&gt; Phase: <b>Crescent</b></li>
      <li>&gt; Age: <b>25</b></li>
      <li>&gt; Distance: <b>25</b></li>
      <li>&gt; Moonrise: <b>25</b></li>
      <li>&gt; Moonset: <b>25</b></li>
      <li>&gt; Visible Area: <b>25</b></li>
    </ul>
  </div>
</details>
