$codeGreen: rgba(0, 189, 0, 0.8);
$borderRadius: 10px;
.currentMoonInfo {
  position: relative;
  outline: 1px solid rgba(255, 255, 255, 0.4);
  margin: 1.2rem 0;
  margin-bottom: 0;
  border-radius: $borderRadius;
  min-width: 300px;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  & > * {
    font-family: monospace;
  }

  summary {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding: 6px;
    padding-bottom: 8px;
    padding-top: 8px;
    margin: 0;
    &::marker {
      margin-right: 10px;
    }
  }
  .moonInfo {
    justify-content: start;
    align-items: start;
    background: rgba(0, 0, 0, 0.5);
    margin: 10px;
    list-style: none;
    padding-inline-start: 0;

    dd {
      margin-inline-start: 10px;
      opacity: 0.95;
      color: $codeGreen;
      display: flex;
      align-items: center;
      height: 18px;

      &::before {
        content: "> ";
        font-weight: bold;
        margin-right: 5px;
      }

      .moonIconImage {
        margin-left: 5px;
      }

      b {
        opacity: 0.95;
        font-weight: 800;
        color: rgba(0, 189, 0, 0.9);
        margin-left: 5px;
        .noMl {
          margin-left: 0;
        }
      }
    }
  }
}

.moonPhaseContainer {
  position: absolute;
  bottom: 4.5px;
  right: 4.5px;
  z-index: 10;
  border: 3px solid rgba(158, 158, 158, 0.3);
  padding: 3.5px;
  border-radius: $borderRadius;

  opacity: 0.5;

  #moonPhaseCanvas {
    background: black;
    display: block;
    border-radius: 50%;
  }

  #moonPhaseImage {
    display: none;
  }
}
