---
import { Image } from "astro:assets";

import Title from "./Title.astro";
import NavBar from "./NavBar.astro";

import catonline from "./catonline.gif";

import "./index.scss";
---

<header>
  <div class="headerContainer">
    <Title />
    <Image
      src={catonline}
      alt={"Cat"}
      class="catImage"
      width={250}
      height={250}
    />
    <NavBar />
  </div>
  <div class="headerBottomBorder"></div>
</header>
