---
import Logo from "@images/logo.png";
import { Image } from "astro:assets";
---

<div class="title">
  <Image src={Logo} alt="logo" height="20" width="20" />
  <a href="/" class="homeTitle" rel="noreferrer"> Sahil Singh Rana </a>
</div>
