---
import Logo from "@images/logo.png";
import { Image } from "astro:assets";
---

<div class="title">
  <Image src={Logo} loading="lazy" alt="logo" height="50" width="50" />
  <a href="/" class="homeTitle" rel="noreferrer"> Sahil Rana </a>
</div>
