---
import Logo from "@images/logo.png";
import { Image } from "astro:assets";
---

<div class="title">
  <Image src={Logo} alt="logo" height="20" width="20" />
  <h1>
    <a href="/" rel="noreferrer"> Sahil Singh Rana </a>
  </h1>
</div>
