---
import CurrentMoonPhaseIcon from "@components/General/CurrentMoonPhaseIcon/index.astro";
---

<div class="title">
  <CurrentMoonPhaseIcon height={20} width={20} alt="logo" />
  <a href="/" class="homeTitle" rel="noreferrer"> Sahil Singh Rana </a>
</div>
