---
import Logo from "@images/logo.png";
---

<div class="title">
  <img src={Logo.src} alt="logo" height="20px" width="20px" />
  <h1>
    <a href="/" rel="noreferrer"> Sahil Singh Rana </a>
  </h1>
</div>
