@use "variables" as *;
@import "../../../styles/opt";

.constellation-page {
  background: $constellation-bg-black;
  color: $constellation-text-gray;
  line-height: 1.6;
  min-height: 100vh;
  font-family: var(--font-raleway), sans-serif;
}

footer {
  font-size: 1.1rem;
}
