---
import { Image } from "astro:assets";
import saggitarius from "./sagittariusConstBG.jpg";
import { SAGITTARIUS } from "@utils/constants";
import "./sagittarius.scss";
---

<div id="sagittarius-container" class="sagittarius-container">
  <div id="sagImage" class="img-container">
    <Image
      src={saggitarius}
      alt="Sagittarius Constellation Background"
      class="image"
      loading="lazy"
      width={95}
      height={95}
    />

    {
      Object.entries(SAGITTARIUS.stars).map(([starKey]) => {
        return <div class="sagi-star" id={starKey} />;
      })
    }
  </div>
</div>

<script>
  const sagContainer = document.getElementById("sagImage");
  console.log(sagContainer);
  if (sagContainer) {
    sagContainer.addEventListener("click", () => {
      console.log("Sagittarius Clicked");
    });
  }
</script>
