---
import { Image } from "astro:assets";
import saggitarius from "./sagittariusConstBG.jpg";
import { SAGITTARIUS } from "@utils/constants";
import "./sagittarius.scss";
---

<div class="sagittarius-container">
  <div class="img-container">
    <Image
      src={saggitarius}
      alt="Sagittarius Constellation Background"
      class="image"
      loading="lazy"
      width={95}
      height={95}
    />

    {
      Object.entries(SAGITTARIUS.stars).map(([starKey]) => {
        return <div class="sagi-star" id={starKey} />;
      })
    }
  </div>
</div>
