.sagittarius-container {
  position: absolute;
  bottom: 2.8rem;
  right: 2px;
  z-index: -12;

  .img-container {
    position: relative;

    .image {
      opacity: 0.33;
      mix-blend-mode: lighten;
    }

    .sagi-star {
      height: 3%;
      width: 3%;
      border-radius: 50%;
      position: absolute;
      background: rgb(248, 248, 247);
      z-index: -10;
      opacity: 1;

      animation-name: twinkleAnimation;
      animation-duration: 4.2s;
      animation-iteration-count: infinite;
      transition-timing-function: ease-in-out;
    }

    #ArkabPosterior {
      bottom: 5%;
      left: 33%;
    }
    #ArkabPrior {
      bottom: 8%;
      left: 33%;
    }
    #Nunki {
      left: 49%;
      top: 33%;
    }
    #Ascella {
      left: 43%;
      top: 45%;
    }
    #Albaldah {
      left: 42%;
      top: 19%;
    }
    #Alnasl {
      right: 17%;
      top: 49%;
    }
    #KausAustralis {
      right: 30%;
      top: 60%;

      //   Brightest star of the constellation
      height: 4%;
      height: 4%;
    }
    #KausMedia {
      right: 26%;
      top: 46%;
    }
    #KausBorealis {
      right: 31%;
      top: 31%;
    }
    #RhoSagittarii {
      right: 31%;
      top: 31%;
    }
  }
}
