---
import Info from "./Info.astro";
import SkillsAndHobbies from "./SkillsAndHobbies.astro";
import Heading from "./Heading.astro";

import "./index.scss";
---

<section id="about" class="about">
  <Heading />
  <Info />
  <SkillsAndHobbies />
</section>
