---
import { Copyright as CopyrightIcon } from "lucide-astro";
import Resources from "./Resources.astro";
---

<div class="copyrightWrapper">
  <div></div>
  <p class="copyright">
    <CopyrightIcon />
    {new Date().getFullYear()} Sahil Singh Rana
  </p>
  <Resources />
</div>
