footer {
  pointer-events: none;

  min-height: 150px;
  padding-top: 10px;
  font-size: 0.9rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  ul {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
  }

  nav {
    max-width: var(--content-max-width);
    width: var(--content-width);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    ul {
      width: 100%;
      display: flex;
      list-style: none;
      justify-content: space-around;

      a {
        color: gray;
        pointer-events: auto;

        &:hover {
          color: white;
        }
      }
    }
  }

  .social {
    margin-top: 1.5em;
    .lucide-icon {
      height: 20px;
      width: 20px;
    }
    ul {
      display: flex;
      gap: 15px;
      a {
        pointer-events: auto;

        color: rgb(128, 128, 128);
        &:hover {
          color: white;
        }
      }
    }
  }

  .copyrightWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    place-items: center;
    margin-bottom: 20px;
    pointer-events: none;

    .copyright {
      width: 100%;
      display: flex;
      justify-self: center;
      align-items: center;
      justify-content: center;
      color: rgb(128, 128, 128);
      .lucide-icon {
        height: 15px;
        width: 15px;
      }
    }

    .resources {
      justify-self: end;
      a {
        color: rgba(139, 139, 139, 0.398);
        font-size: 0.8rem;
        padding: 0 10px;

        &:hover {
          color: rgba(245, 245, 245, 0.725);
        }
      }
    }
  }

  .wave {
    background: #1b1d1daa;
    display: inline-block;
    height: 30px;
    width: 100%;
    position: absolute;
    animation-name: wavesAnimation;
    animation-duration: 6.25s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in-out;
  }
}

@keyframes wavesAnimation {
  0% {
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 95.36%,
      1.82% 94.94%,
      3.64% 93.69%,
      5.45% 91.64%,
      7.27% 88.81%,
      9.09% 85.27%,
      10.91% 81.08%,
      12.73% 76.31%,
      14.55% 71.07%,
      16.36% 65.44%,
      18.18% 59.54%,
      20% 53.47%,
      21.82% 47.35%,
      23.64% 41.28%,
      25.45% 35.4%,
      27.27% 29.8%,
      29.09% 24.59%,
      30.91% 19.88%,
      32.73% 15.74%,
      34.55% 12.25%,
      36.36% 9.49%,
      38.18% 7.49%,
      40% 6.31%,
      41.82% 5.96%,
      43.64% 6.45%,
      45.45% 7.77%,
      47.27% 9.89%,
      49.09% 12.78%,
      50.91% 16.38%,
      52.73% 20.62%,
      54.55% 25.43%,
      56.36% 30.71%,
      58.18% 36.36%,
      60% 42.29%,
      61.82% 48.37%,
      63.64% 54.49%,
      65.45% 60.54%,
      67.27% 66.4%,
      69.09% 71.97%,
      70.91% 77.14%,
      72.73% 81.82%,
      74.55% 85.91%,
      76.36% 89.33%,
      78.18% 92.03%,
      80% 93.96%,
      81.82% 95.07%,
      83.64% 95.35%,
      85.45% 94.79%,
      87.27% 93.41%,
      89.09% 91.22%,
      90.91% 88.27%,
      92.73% 84.61%,
      94.55% 80.32%,
      96.36% 75.47%,
      98.18% 70.16%,
      100% 64.48%
    );
  }
  50% {
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 5.96%,
      1.82% 6.38%,
      3.64% 7.63%,
      5.45% 9.69%,
      7.27% 12.51%,
      9.09% 16.06%,
      10.91% 20.25%,
      12.73% 25.01%,
      14.55% 30.25%,
      16.36% 35.88%,
      18.18% 41.78%,
      20% 47.86%,
      21.82% 53.98%,
      23.64% 60.04%,
      25.45% 65.92%,
      27.27% 71.52%,
      29.09% 76.73%,
      30.91% 81.45%,
      32.73% 85.59%,
      34.55% 89.07%,
      36.36% 91.84%,
      38.18% 93.83%,
      40% 95.01%,
      41.82% 95.36%,
      43.64% 94.87%,
      45.45% 93.55%,
      47.27% 91.43%,
      49.09% 88.54%,
      50.91% 84.94%,
      52.73% 80.7%,
      54.55% 75.89%,
      56.36% 70.61%,
      58.18% 64.96%,
      60% 59.04%,
      61.82% 52.96%,
      63.64% 46.84%,
      65.45% 40.79%,
      67.27% 34.92%,
      69.09% 29.35%,
      70.91% 24.18%,
      72.73% 19.51%,
      74.55% 15.42%,
      76.36% 11.99%,
      78.18% 9.29%,
      80% 7.36%,
      81.82% 6.25%,
      83.64% 5.97%,
      85.45% 6.53%,
      87.27% 7.92%,
      89.09% 10.11%,
      90.91% 13.06%,
      92.73% 16.71%,
      94.55% 21%,
      96.36% 25.85%,
      98.18% 31.17%,
      100% 36.85%
    );
  }
  100% {
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 95.36%,
      1.82% 94.94%,
      3.64% 93.69%,
      5.45% 91.64%,
      7.27% 88.81%,
      9.09% 85.27%,
      10.91% 81.08%,
      12.73% 76.31%,
      14.55% 71.07%,
      16.36% 65.44%,
      18.18% 59.54%,
      20% 53.47%,
      21.82% 47.35%,
      23.64% 41.28%,
      25.45% 35.4%,
      27.27% 29.8%,
      29.09% 24.59%,
      30.91% 19.88%,
      32.73% 15.74%,
      34.55% 12.25%,
      36.36% 9.49%,
      38.18% 7.49%,
      40% 6.31%,
      41.82% 5.96%,
      43.64% 6.45%,
      45.45% 7.77%,
      47.27% 9.89%,
      49.09% 12.78%,
      50.91% 16.38%,
      52.73% 20.62%,
      54.55% 25.43%,
      56.36% 30.71%,
      58.18% 36.36%,
      60% 42.29%,
      61.82% 48.37%,
      63.64% 54.49%,
      65.45% 60.54%,
      67.27% 66.4%,
      69.09% 71.97%,
      70.91% 77.14%,
      72.73% 81.82%,
      74.55% 85.91%,
      76.36% 89.33%,
      78.18% 92.03%,
      80% 93.96%,
      81.82% 95.07%,
      83.64% 95.35%,
      85.45% 94.79%,
      87.27% 93.41%,
      89.09% 91.22%,
      90.91% 88.27%,
      92.73% 84.61%,
      94.55% 80.32%,
      96.36% 75.47%,
      98.18% 70.16%,
      100% 64.48%
    );
  }
}
