---
import { Image } from "astro:assets";

import Nav from "./Nav.astro";
import Social from "./Social.astro";
import Copyright from "./Copyright.astro";

import fluteflower from "./fluteflower.png";

import "./index.scss";
---

<footer>
  <div class="wave"></div>

  <Nav />
  <Social />
  <Copyright />
  <Image
    src={fluteflower}
    alt={"fluteflower"}
    class="fluteImage"
    width={250}
    loading={"lazy"}
  />
</footer>
