---
import Social from "./Social.astro";
import Nav from "./Nav.astro";
import Copyright from "./Copyright.astro";
import Sagittarius from "@layouts/Constellations/Sagittarius.astro";

import "./index.scss";
---

<footer>
  <div class="wave"></div>

  <Nav />
  <Social />
  <Copyright />
  <Sagittarius />
</footer>
