.currentlyBuildingWrapper {
  .diziplayerPreviewWrapper {
    padding: 10px;
    border: 1px solid rgba(245, 245, 245, 0.42);
    border-radius: 12px;
    .details {
      display: flex;
      max-width: 400px;

      .previewImage {
        height: 140px;
        width: 140px;
        border-radius: 12px;
      }
      .info {
        align-items: center;
        .diziTitle {
          font-weight: bold;
          text-align: center;
          color: red;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0;
          padding: 0;

          span {
            font-size: 0.9rem;
            color: white;
            letter-spacing: 5px;
          }
        }
        p {
          margin: 0 5px;
          margin-top: 0.6rem;
          font-size: 0.7rem;
          color: rgba(245, 245, 245, 0.76);
          text-align: justify;
        }
      }
    }

    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-top: 10px;

      .status {
        font-size: 0.7rem;
        background: rgba(143, 0, 0, 0.753);
        color: white;
        padding: 2px 4px;
        margin: 0;
        border-radius: 6px;
      }

      .links {
        padding-right: 1.5rem;
        padding-inline-start: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        margin: 0;
      }
    }
  }
}
