.myMoon {
  pointer-events: none;
  position: fixed;
  height: 20em;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
  offset-path: ellipse(64vw 25vh at center);
  animation: spin 25s infinite linear;
}

@keyframes spin {
  0% {
    offset-distance: 0;
  }
  100% {
    offset-distance: 100%;
  }
}
