.myMoon {
  pointer-events: none;
  position: fixed;
  height: 20em;
  top: 0;
  left: 0;
  // opacity: 0.25;
  filter: brightness(0.2);
  -webkit-filter: brightness(0.2);
  -moz-filter: brightness(0.2);
  -ms-filter: brightness(0.2);

  z-index: -1;
  offset-path: ellipse(64vw 25vh at center);
  animation: spin 25s infinite linear;
  will-change: offset-distance;
}

@keyframes spin {
  0% {
    offset-distance: 0;
  }
  100% {
    offset-distance: 100%;
  }
}

.meteor {
  position: fixed;
  top: -30px;
  width: var(--width);
  height: var(--height);
  background: linear-gradient(90deg, transparent, rgba(184, 209, 216, 0.4));
  opacity: 0;
  transform: rotate(45deg);
  animation: meteorFall ease-in infinite;
  animation-duration: var(--duration);
  left: var(--left, 50%);
  animation-delay: var(--delay);
  z-index: -50;
}

@keyframes meteorFall {
  0% {
    opacity: 0;
    transform: translateX(0) translateY(0) rotate(45deg);
  }
  20% {
    opacity: var(--max-opacity, 0.45);
  }
  70% {
    opacity: var(--max-opacity, 0.35);
  }
  100% {
    transform: translateX(150vh) translateY(150vh) rotate(45deg);
    opacity: 0;
  }
}
