article.blogContent {
  h1 {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.9rem;
  }

  h4 {
    font-size: 0.8rem;
  }

  h5 {
    font-size: 0.7rem;
  }

  h6 {
    font-size: 0.6rem;
  }

  pre {
    padding: 20px;
    border-radius: 10px;
    font-size: 0.75rem;
  }

  p {
    font-size: 0.75rem;
    text-align: justify;
  }

  ol {
    font-size: 0.75rem;
  }

  a {
    // font-size: 0.83rem;
    color: lightgray;
    font-style: italic;
    word-break: break-all;

    &:hover {
      color: white;
    }
  }

  blockquote {
    margin-inline-start: 10px;
    & > * {
      font-size: 0.7rem;
    }
  }
}
