article.blogContent {
  
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  color: rgba(245, 245, 245, 0.90);

  h1, h2, h3, h4, h5 {
    color: rgba(255, 255, 255, 0.94);
  }

  h2 {
    font-size: 1.1rem;
  }

  h3 {
    font-size: 0.94rem;
  }

  pre {
    padding: 20px;
    border-radius: 10px;
    font-size: 0.8rem;
  }

  p {
    font-size: 0.89rem;
    text-align: justify;
  }

  ol {
    font-size : 0.88rem;
  }

  a {
    font-size : 0.83rem;
    color : lightgray;
    font-style : italic;
    word-break: break-all;

    &:hover {
      color : white;
    }
  }
}
