.myMoon {
  position: absolute;
  height: 20em;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -2;
  //   offset-path: path("M.4 84.1s127.4 188 267.7 0 247.3 0 247.3 0");
  offset-path: ellipse(64vw 25vh at center);

  //   offset-path: circle(10rem at center);

  animation: spin 25s infinite linear;
}

@keyframes spin {
  0% {
    offset-distance: 0;
  }
  100% {
    offset-distance: 100%;
  }
}
