.atrijPreviewWrapper {
  .atrijTitle {
    height: 12px;
    margin-top: 7%;
    font-size: 1.3rem;
    .small {
      font-size: 0.8rem;
    }
  }
  .previewImage {
    background-color: #13171fde;
    padding: 4.5px;
  }
}
