.atrijPreviewWrapper {
  .atrijTitle {
    height: 23px;
    font-weight: bolder;
    margin-top: 3%;
    font-size: 1.8rem !important;
    text-align: center;
    text-shadow: 3px -4px 4px #b51e1e;
    .small {
      font-size: 0.8rem;
    }
  }
  .previewImage {
    background-color: #13171fde;
    padding: 4.5px;
  }
}
